@charset "UTF-8";

/*테이블 윗부분(카테고리, 동영상추가)*/
#select-workout, #select-ct{
	width: 8vw;
    display: inline-block;
}
#playlist_id{
	width: 20vw;
	float: initial;
	display: inline-block;
}
#page-title{
	margin-top: 10px;
}
.ct{
	margin-top: 16px;
}
#active{
	color: #FF5C7F;
}
.all{
	margin-left: 15px !important;
}
input[type="search"]{
	margin-left: 5vw !important;
}
.dataTables_filter>label{
	height: 5vh;
	margin-left: 20vw !important;
	width: 30vw;
}


/*수정하기view 부분 */
#edit-td{
	padding: 3vh 10vw;
}
label, input, textarea{
	display: block;
	float: left;
}
label{
	text-align: right;
	width: 130px;
	padding-right: 20px;
}
br{
	clear: left;
}
#v-title, #v-url{
	width: 40vw;
	margin-bottom: 10px;
}
#select-w, #select-c{
	width: 10vw;
	display: block;
	float: left;
	margin-bottom: 10px;
}
#v-content{
	width: 40vw;
	margin: 4px 4px;
}
#edit-btn{
	margin-left: 44vw;
}