@CHARSET "UTF-8";

#navigator{
	width: 30vw;
	height: 90vh;
	/* display: inline-block; */
	float: left;
}

#maparea{
	width: 60vw;
	height: 90vh;
	display: inline-block;
}

#map{
	display: inline-block;
	margin-top: 30px;
	width: 900px;
	height: 1000px;
}

#container{
	width: 1600px;	
}

#thumbnail{
	display: inline-block;
}

#list{
	display: inline-block;
	width: 15vw;
}

#healthlist, #publiclist{
	display: inline-block;
}

#health-desc, #public-desc{
	display: inline-block;
	width: 350px;	
}

#wrapper{
	display: block;
	width: 500px;
}

#panel{
	display: inline-block;
	width: 550px;
	
}

#pagination{
	display: block;
	margin-left: 50px;
	align: center;
}
