@CHARSET "UTF-8";

#navigator{
	width: 30vw;
	height: 90vh;
	/* display: inline-block; */
	float: left;
}

#maparea{
	width: 60vw;
	height: 90vh;
	display: inline-block;
}

#map{
	margin-left: 100px;
	height: 750px;
}

#container{
	width: 1600px;	
}

#thumbnail{
	display: inline-block;
	width: 60vw;
	height: 60vh;
}
#list{
	width: 17vw;
}
#healthlist#publiclist{
	display: inline-block;
}
#health-desc#public-desc{
	display: inline-block;
}
#wrapper{
	display: block;
	
}

#panel{
	width: 630px;
}

#pagination{
	display: block;
	margin-left: 50px;
	align: center;
}
