@CHARSET "UTF-8";

#navigator{
	width: 30vw;
	height: 90vh;
	/* display: inline-block; */
	float: left;
}

#maparea{
	width: 60vw;
	height: 90vh;
	display: inline-block;
}

#map{
 height: 700px;
}

#thumbnail{
	display: inline-block;
	width: 60vw;
	height: 60vh;
}

#healthlist{
	display: inline-block;
}
#pagination{
	display: block;
	margin-left: 50px;
	align: center;
}

a {
	display: block;
}
