@CHARSET "UTF-8";

#myPageBar {
	margin-top: 100px;
}
#myPageBar h1 a:hover, #myPageBar h1 a:visited, #myPageBar h1 a:link{
	text-decoration: none;
	color: #022D41;
}
#myPageBar #sm_title {
	font-size: 25px;
}
#myPageBar nav ul li {
	float: left;
}
#myPageBar nav ul li:nth-child(1) {
	font-size: 55px;
	margin-right: 110px;
}
#myPageBar nav ul li:nth-child(1) a:hover {
	text-decoration: none;
}
#myPageBar nav ul li:nth-child(2), #myPageBar nav ul li:nth-child(3),
	#myPageBar nav ul li:nth-child(4), #myPageBar nav ul li:nth-child(5),
	#myPageBar nav ul li:nth-child(6) {
	font-size: 17px;
	margin-right: 65px;
	margin-top: 35px;
}



/*  */
.mypage_info {
	box-shadow: 2px 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #FFFFFF;
	color: #252422;
	margin-top: 100px;
	margin-bottom:120px;
	height:500px;
}
.mypage_info_title {
	box-shadow: 2px 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #022D41;
	color:white;
	height:230px;
	width:100%;
}
.mypage_info_title a:visited, .mypage_info_title a:hover, .mypage_info_title a:link{
	text-decoration: none;
}
.mypage_info_title img {
	width: 100px;
	height: 100px;
	margin-top:40px;
}
.mypage_info_title p {
	text-align:center;
	margin-top:15px;
}
.mypage_info_content {
	padding:10px;
	margin-top:15px;
}
.mypage_info_content p {
	font-size:11pt;
}
.mypage_info_content p span {
	margin-right:15px;
}
.mypage_info_content #mypage_btn {
	margin-top:35px;
}
.mypage_info_content button {
	width:90%;
}

.mypage_schedule {
	box-shadow: 2px 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #FFFFFF;
	color: #252422;
	margin-top: 100px;
	margin-bottom:120px;
	height:500px;
}
.mypage_schedule #moreS {
	margin-top:40px;
}
.mypage_schedule #yesterdaySchedule, .mypage_schedule #todaySchedule {
	height:200px;
	padding:20px;
	padding-top:30px;
}
.mypage_schedule div table thead th {
	font-size:15pt;
	font-weight:bold;
}
.mypage_schedule div table thead td {
	margin-right:20px;
}
.mypage_schedule div table tbody {
	margin-top:50px;
}
.mypage_schedule div table tbody td {
	font-size:10pt;
	text-indent:10px;
}



/* */
/* #userDetailTitle {
	margin-top:100px;
}
#userDetailTitle h1 {
	font-size:40px;
}
#userDetailTitle p{
	font-size:13pt;
	margin-left:10px;
}
#userDetailTitle #smallH {
	font-size:25px;
}
#userDetailTitle #smallP {
	font-size:9pt;
	margin-left:5px;
} */
#userDetailTitle {
	margin-top:100px;	
}
#userDetailTitle img {
	width:100px;
	height:100px;
	background:#cecece;
}
#userDetailTitle #userDetailTitleInfo {
	margin-top:12px;
	font-size:12pt;
}
#userDetailTitle #userDetailTitleInfo h1 {
	font-size:40px;
}
#userDetailTitle #smallH {
	font-size:25px;
}
#userDetailTitle #smallP {
	font-size:9pt;
	margin-left:5px;
}
#userDetailContentForm {
	margin-bottom:120px;
}
#userDetailContent {
	box-shadow: 2px 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #FFFFFF;
	color: #252422;
	margin-top: 50px;
	padding:40px;
	padding-bottom:60px;
}
#userDetailContent table tr td {
	padding-top:20px;
}
#userInfoModify {
	margin-top:50px;
	margin-bottom:120px;
}
#userInfoModify button {
	width:100px;
}
#userDetailContentSmall {
	box-shadow: 2px 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #FFFFFF;
	color: #252422;
	margin-top:20px;
	padding:20px;
}
#userInfoModifySmall {
	margin-top:30px;
	margin-bottom:120px;
}
#userInfoModifySmall button {
	width:100%;
}



/* */
#userPwdMTitle {
	margin-top:100px;	
}
#userPwdMTitle img {
	width:100px;
	height:100px;
	background:#cecece;
}
#userPwdMTitle #userPwdTitleInfo {
	margin-top:12px;
	font-size:12pt;
}
#userPwdMTitle #userPwdTitleInfo h1 {
	font-size:40px;
}
#userPwdMTitle #smallH {
	font-size:25px;
}
#userPwdMTitle #smallP {
	font-size:9pt;
	margin-left:5px;
}
#userPwdContentForm {
	margin-bottom:120px;
}
#userPwdContent {
	box-shadow: 2px 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #FFFFFF;
	color: #252422;
	margin-top: 50px;
	padding:40px;
	padding-bottom:40px;
}
#userPwdContent table tr td {
	padding-top:20px;
}
#userPwdModify {
	margin-top:50px;
	margin-bottom:120px;
}
#userPwdModify button {
	width:100px;
}
#userPwdContentSmall {
	box-shadow: 2px 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #FFFFFF;
	color: #252422;
	margin-top:30px;
	padding:20px;
	font-size:10pt;
}
#userPwdContentSmall input {
	width:80%;
}
#userPwdSmall {
	margin-top:30px;
	margin-bottom:120px;
}
#userPwdSmall button {
	width:100%;
}



/*  */
.userBoardNav {
	margin-top:120px;
	margin-bottom:20px;
}
.userBoardNav #navTitle li a {
	text-align:center;
	padding:20px;
	text-size:20pt;
	text-weight:bold;
}
#searchBt a:hover, #searchBt a:visited, #searchBt a:link {
	text-decoration: none;
}
#qnaT tr:nth-child(1) th{
	padding-top:40px;
	padding-bottom:15px;
	text-align:center;
}
#qnaT th {
	text-align:center;
	text-weight:bold;
}
#qnaT td {
	text-align:center;
}
#qnaT tr:nth-child(1) td {
	width:30px;
}
#communityT tr:nth-child(1) th{
	padding-top:40px;
	padding-bottom:15px;
	text-align:center;
}
#communityT th {
	text-align:center;
	text-weight:bold;
}
#communityT td {
	text-align:center;
}
.boardPage {
	margin-bottom:120px;
}



/*  */
#deleteInfo {
	box-shadow: 2px 2px 2px rgba(194, 194, 194, 0.5);
	background:#f0f2f2;
	border-radius: 5px;
	margin-bottom:40px;
	padding:40px;
}
#deleteInfo h1 {
	font-weight:bold;
}
#deleteInfo p {
	font-size:10pt;
	margin-top:20px;
}
#deleteInfoSm {
	box-shadow: 2px 2px 2px rgba(194, 194, 194, 0.5);
	background:#f0f2f2;
	border-radius: 5px;
	margin-bottom:40px;
	padding:40px;
	
}
#deleteInfoSm h1 {
	font-weight:bold;
	font-size:13pt;
}
#deleteInfoSm p {
	font-size:10pt;
	margin-top:20px;
}


/**/
#searchInfo {
	margin-left:45px;
	color:#FE424D;
}
