@CHARSET "UTF-8";

body {
	background:white !important;
}



/* 
	마이페이지 헤더바
*/
#myPageBar {
	position : fixed;
	z-index:10;
	width:100%;
	height:50px;
	margin-top:0px;
	padding-top:0px;
	background: white;
}
#myPageBar h1 a:hover, #myPageBar h1 a:visited, #myPageBar h1 a:link{
	text-decoration: none;
	color: #022D41;
  	font-weight:bold;
}
#myPageBar #sm_title {
	font-size: 25px;
}
#myPageBar nav {
	padding-top:5px;
	padding-bottom:5px;
	background: white;
	border:none;
	border-bottom:1px solid #dedede;
	border-radius:0rem;
	
    text-align: center;
    overflow: hidden;
}
#myPageBar nav ul {
	float: right;
    position: relative;
    left: -50%;
}
#myPageBar nav ul li {
	float: left;
    position: relative;
    left: 52%;
	margin-right:40px;
}
#myPageBar nav ul li a {
	color:black;
}
#myPageBar nav ul li a:hover {
	text-align:left !important;
  	color: #ebab36;
  	background:white;
}
#myPageBar nav ul li.activeMenu a {
  	/* color: #022D41;
  	font-weight:bold; */
  	color: #ebab36;
}



/*
	마이페이지 메인
*/
.mypage_info {
	border:1px solid #dedede;
	border-radius:0.3rem;
	background-color: #FFFFFF;
	color: #252422;
	margin-top: 120px;
	margin-bottom:110px;
	height:520px;
	padding-left: 0px !important;
  	padding-right: 0px !important;
	margin-left:15px;
	margin-right:15px;
}
.mypage_info_title {
	border-bottom:1px solid #dedede;
	border-top-left-radius:0.3rem;
	border-top-right-radius:0.3rem;
	background-color: #f5f5f5;
	color:#000;
	height:230px;
	width:100%;
}
.mypage_info_title a:visited, .mypage_info_title a:hover, .mypage_info_title a:link{
	text-decoration: none;
}
.mypage_info_title img {
	width: 100px;
	height: 100px;
	margin-top:40px;
}
.mypage_info_title p {
	text-align:center;
	margin-top:25px;
	font-size:16pt;
}
.mypage_info_content {
	padding:10px;
	margin-top:15px;
}
.mypage_info_content p {
	font-size:11pt;
}
.mypage_info_content p span {
	margin-right:15px;
}
.mypage_info_content #mypage_btn {
	margin-top:35px;
}
.mypage_info_content button {
	width:90%;
	color:black;
}

.mypage_schedule_y {
	padding-left: 0px !important;
  	padding-right: 0px !important;
	border:1px solid #dedede;
	border-radius:0.3rem;
	background-color: #FFFFFF;
	color: #252422;
	margin-top: 120px;
	margin-left:15px;
	margin-right:15px;
	height:233px;
}
.mypage_schedule_t {
	padding-left: 0px !important;
  	padding-right: 0px !important;
	border:1px solid #dedede;
	border-radius:0.3rem;
	background-color: #FFFFFF;
	color: #252422;
	margin-top: 10px;
	margin-left:15px;
	margin-right:15px;
	height:233px;
}
.mypage_schedule_bt {
	padding-left: 0px !important;
  	padding-right: 0px !important;
	margin-top: 10px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:110px;
}
.mypage_schedule_bt Button {
	width:100%;
}
#yesterdayScheduleTitle, #todayScheduleTitle {
	border-top-left-radius:0.3rem;
	border-top-right-radius:0.3rem;
	background:#f5f5f5;
}
#yesterdayScheduleTitle table, #todayScheduleTitle table {
	border-bottom:1px solid #dedede; 
}
#yesterdayScheduleTitle th, #todayScheduleTitle th {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	color:black;
}
#yesterdayScheduleTitle td, #todayScheduleTitle td {
	padding-right:20px;
}
#yesterdayScheduleContent, #todayScheduleContent {
	font-size:11pt;
	padding-left:20px;
	max-height: 140px;
	overflow: hidden;
	overflow-y: auto;
}

/*
	마이페이지 메인 - 헬스장 정보
*/
.mypage_gymmanage {
	padding-left: 0px !important;
  	padding-right: 0px !important;
	border:1px solid #dedede;
	border-radius:0.3rem;
	background-color: #FFFFFF;
	color: black;
	margin-top: 120px;
	margin-left:15px;
	margin-rigth:15px;
	height:476px;
}
#gymlist {
	max-height: 350px;
	overflow: hidden;
	overflow-y: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}
#gymInfo {
	border-bottom:1px solid #dedede; 
	padding-bottom:20px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	margin-bottom:20px;
}
#gymimg {
	height: 150px;
	width: 110px;
}
#regcount {
	border-top-left-radius:0.3rem;
	border-top-right-radius:0.3rem;
	border-bottom:1px solid #dedede; 
	background:#f5f5f5;
	padding-top:5px;
	padding-bottom:5px;
}
#gymsearchdiv {
	margin-top:10px;
}
#registerGymBt {
	margin-top:10px;
	margin-left:15px;
	margin-rigth:15px;
	padding-left: 0px !important;
  	padding-right: 0px !important;
	margin-bottom:110px;
}
#registerGymBt Button {
	height:34px;
	width:100%;
}


/*
	회원정보
*/
#userDetail {
	border:1px solid #dedede;
	border-radius:0.3rem;
	background-color: #FFFFFF;
	color: #252422;
	margin-top: 120px;
	margin-bottom:110px;
	height:auto;
	padding-left: 0px !important;
  	padding-right: 0px !important;
}
#uDetailTitle {
	border-bottom:1px solid #dedede;
	border-top-left-radius:0.3rem;
	border-top-right-radius:0.3rem;
	background-color: #f5f5f5;
	color:#000;
	width:100%;
}
#uDetailTitle th {
	padding:10px;
	padding-left:20px;
	color:black;
}
#uDetailContent {
	align:center;
}
#profileContent {
	padding-left: 0px !important;
  	padding-right: 0px !important;
  	padding-top:20px;
  	height:470px;
}
#profileImg {
	margin-top:75px;
}
#uDetailContent a:hover, #uDetailContent a:visited, #uDetailContent a:link, #uDetailContent a:active  {
	text-decoration:none;
}
#uDetailContent img {
	width: 200px;
	height: 200px;
}
#uDetailContent table {
	padding-top:20px;
	margin-left:20px;
}
#uDetailContent table th {
	width:150px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:0px;
}
#uDetailContent table th:nth-last-child(1) {
	padding-right:50px;
}
#uDetailContent table td {
	padding-left:20px;
	padding-right:50px;
}
	
	
	
	
	
	
	
	



#userDetailTitle {
	color: black;
	margin-top:120px;	
}
#userDetailTitle img {
	width:100px;
	height:100px;
	background:#cecece;
}
#userDetailTitle #userDetailTitleInfo {
	margin-top:12px;
	font-size:12pt;
}
#userDetailTitle #userDetailTitleInfo h1 {
	font-size:40px;
	color:black;
}
#userDetailTitle #smallH {
	font-size:25px;
}
#userDetailTitle #smallP {
	font-size:9pt;
	margin-left:5px;
}
#userDetailContentForm {
	margin-bottom:120px;
}
#userDetailContent {
	border:1px solid #dedede;
	border-radius:0.3rem;
	background-color: #FFFFFF;
	color: #252422;
	margin-top: 50px;
	padding:40px;
	padding-bottom:60px;
}
#userDetailContent table tr td {
	padding-top:20px;
}
#userInfoModify {
	margin-top:50px;
	margin-bottom:110px;
}
#userInfoModify button {
	width:100px;
}
#userDetailContentSmall {
	box-shadow: 2px 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #FFFFFF;
	color: #252422;
	margin-top:20px;
	padding:20px;
}
#userInfoModifySmall {
	margin-top:30px;
	margin-bottom:120px;
}
#userInfoModifySmall button {
	width:100%;
}



/* 
	비밀번호변경
*/
#userPwdMTitle {
	margin-top:120px;	
}
#userPwdMTitle img {
	width:100px;
	height:100px;
	background:#cecece;
}
#userPwdMTitle #userPwdTitleInfo {
	margin-top:12px;
	font-size:12pt;
}
#userPwdMTitle #userPwdTitleInfo h1 {
	font-size:40px;
	color:black;
}
#userPwdMTitle #smallH {
	font-size:25px;
}
#userPwdMTitle #smallP {
	font-size:9pt;
	margin-left:5px;
}
#userPwdContentForm {
	margin-bottom:120px;
}
#userPwdContent {
	border:1px solid #dedede;
	border-radius:0.3rem;
	background-color: #FFFFFF;
	color: #252422;
	margin-top: 50px;
	padding:40px;
	padding-bottom:40px;
}
#userPwdContent table tr td {
	padding-top:20px;
}
#userPwdModify {
	margin-top:50px;
	margin-bottom:110px;
}
#userPwdModify button {
	width:100px;
}
#userPwdContentSmall {
	box-shadow: 2px 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #FFFFFF;
	color: #252422;
	margin-top:30px;
	padding:20px;
	font-size:10pt;
}
#userPwdContentSmall input {
	width:80%;
}
#userPwdSmall {
	margin-top:30px;
	margin-bottom:120px;
}
#userPwdSmall button {
	width:100%;
}



/* 
	게시글관리
*/
.userBoardNav {
	margin-top:120px;
	margin-bottom:20px;
}
.userBoardNav #navTitle li a {
	text-align:center;
	padding:20px;
	text-size:20pt;
	text-weight:bold;
}
#searchBt a:hover, #searchBt a:visited, #searchBt a:link {
	text-decoration: none;
}
#qnaT tr:nth-child(1) th{
	padding-top:40px;
	padding-bottom:15px;
	text-align:center;
}
#qnaT th {
	text-align:center;
	text-weight:bold;
}
#qnaT td {
	text-align:center;
}
#qnaT tr:nth-child(1) td {
	width:30px;
}
#communityT tr:nth-child(1) th{
	padding-top:40px;
	padding-bottom:15px;
	text-align:center;
}
#communityT th {
	text-align:center;
	text-weight:bold;
}
#communityT td {
	text-align:center;
}
.boardPage {
	margin-bottom:110px;
}



/*
	회원탈퇴  
*/
#deleteInfo {
	box-shadow: 2px 2px 2px rgba(194, 194, 194, 0.5);
	background:#f0f2f2;
	border-radius: 5px;
	margin-bottom:40px;
	padding:40px;
}
#deleteInfo h1 {
	font-weight:bold;
}
#deleteInfo p {
	font-size:10pt;
	margin-top:20px;
}
#deleteInfoSm {
	box-shadow: 2px 2px 2px rgba(194, 194, 194, 0.5);
	background:#f0f2f2;
	border-radius: 5px;
	margin-bottom:40px;
	padding:40px;
	
}
#deleteInfoSm h1 {
	font-weight:bold;
	font-size:13pt;
}
#deleteInfoSm p {
	font-size:10pt;
	margin-top:20px;
}



/*
	운동 스케줄
*/
#userSTitle {
	color: black;
	font-size:12pt;
	text-align:center;
	color:#686868;
}
#userSTitle h1 {
	font-size:40px;
	color:black;
}
#userSTitle #usLike, #userSTitle #usLike:hover, #userSTitle #usLike:visited, #userSTitle #usLike:link{
	text-decoration: none;
	color: #022D41;
	font-weight:bold;
}
#userSTitle #usIn, #userSTitle #usIn:hover, #userSTitle #usIn:visited, #userSTitle #usIn:link{
	text-decoration: none;
	color: #ebab36;
	font-weight:bold;
}





#searchInfo {
	margin-left:45px;
	color:#FE424D;
}