<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.fitnessground.user.model.vo.User" alias="User" />
		<typeAlias type="com.kh.fitnessground.user.model.vo.UserSchedule" alias="UserSchedule" />
		<typeAlias type="com.kh.fitnessground.workout.health.model.vo.Health" alias="Health"/>
		<typeAlias type="com.kh.fitnessground.workout.yoga.model.vo.Yoga" alias="Yoga"/>
		<typeAlias type="com.kh.fitnessground.community.model.vo.MeetingBoard" alias="Meeting"/>
		<typeAlias type="com.kh.fitnessground.gym.model.vo.GymQnABoard" alias="GymQnABoard"/>
		<typeAlias type="com.kh.fitnessground.gym.model.vo.GymQnABoardPage" alias="GymQnABoardPage"/>
		<typeAlias type="com.kh.fitnessground.community.model.vo.CommunityBoard" alias="Community"/>
		<typeAlias type="com.kh.fitnessground.community.model.vo.CommunityAndMeeting" alias="ComAndMeet"/>
		<typeAlias type="com.kh.fitnessground.gym.model.vo.Gym" alias="Gym"/>
		<typeAlias type="com.kh.fitnessground.gym.model.vo.GymSchedule" alias="GymSchedule"/>
		<typeAlias type="com.kh.fitnessground.admin.model.vo.BusinessRequest" alias="BusinessRequest"/>
		<typeAlias type="com.kh.fitnessground.gym.model.vo.PublicGym" alias="PublicGym"/>
		<typeAlias type="com.kh.fitnessground.workout.commentlike.vo.Comment" alias="Comment"/>
		<typeAlias type="com.kh.fitnessground.workout.commentlike.vo.Like" alias="Like"/>
		
		<typeAlias type="com.kh.fitnessground.community.model.vo.MeetingComment" alias="MeetingComment"/>
		<typeAlias type="com.kh.fitnessground.community.model.vo.CommunityComment" alias="CommunityComment"/>		
		<typeAlias type="com.kh.fitnessground.admin.model.vo.Visit" alias="Visit"/>
		
	</typeAliases>
	
	<!-- 사용할 매퍼 파일 등록 : 필수 -->
	<!-- 주의 : 등록된 매퍼 파일중에 오류가 있으면, 다른 매퍼에도 영향을 줌 -->
	<mappers>
		<mapper resource="mappers/user-mapper.xml" />
		<mapper resource="mappers/health-mapper.xml"/>
		<mapper resource="mappers/yoga-mapper.xml"/> 
		<mapper resource="mappers/community-mapper.xml"/>
		<mapper resource="mappers/gym-mapper.xml"/>
		<mapper resource="mappers/gymschedule-mapper.xml"/>  
		<mapper resource="mappers/comment-mapper.xml"/>
		<mapper resource="mappers/like-mapper.xml"/> 
		<mapper resource="mappers/visit-mapper.xml"/> 
	</mappers>
	
	
</configuration><!--comment-->


	














