@charset "UTF-8";

#font_size {
	text-align: left;
}

#login_header {
	height: 400px;
}



#loginfield, #emailfield, #pwdfield, #nicknamefield, #emailboader {
	display: inline-block;
	margin-top: 10px;

}

#fulldiv {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}