<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="health">
<!-- 	<resultMap id="resultCategoryList" type="Health">
		<id property="v_no" column="v_no"/>
		<result property="title" column="title" />
		<result property="content" column="content"/>
		<result property="category1" column="category1"/>
		<result property="category2" column="category2"/>
		<result property="url" column="url"/>
		<result property="readcount" column="readcount"/>	
	</resultMap> -->
	
	<resultMap id="resultWorkOut" type="Health">
		<id property="v_no" column="v_no"/>
		<result property="title" column="title" />
		<result property="content" column="content"/>
		<result property="category1" column="category1"/>
		<result property="category2" column="category2"/>
		<result property="url" column="url"/>
		<result property="readcount" column="readcount"/>	
	</resultMap>
	
<!-- 	
	<resultMap id="like" type="Health">
		<id property="v_no" column="v_no"/>
		<result property="title" column="title" />
		<result property="content" column="content"/>
		<result property="category1" column="category1"/>
		<result property="category2" column="category2"/>
		<result property="url" column="url"/>
		<result property="readcount" column="readcount"/>
			
	</resultMap> -->
	<!-- 네이버 헬스 동영상 하나 select -->
	<select id="selectOneWorkout" parameterType ="_int" resultType="Health" resultMap="resultWorkOut">
		<![CDATA[
			select * from tb_video_board where v_no = #{v_no}
		]]>
	</select>
	
	<!-- 네이버 헬스 동영상 부위별 영상 select -->
	<select id="selectCategoryList" parameterType = "health" resultType="list" resultMap="resultWorkOut">
		<![CDATA[
			select * from tb_video_board where category1 = #{category1} and category2 like '%' ||#{category2}|| '%'
		]]>
	</select>
	
	<!-- 조회수 증가 처리 -->
	<update id="addReadCount" parameterType="int">
		<![CDATA[
			update tb_video_board set readcount = readcount+1 where v_no =#{v_no}
		]]>
		
	</update>
	
	<!-- 맨몸운동 메인 조회수 탑 5 출력-->
	
	<select id = "selectHomeTraning" resultType="list" resultMap = "resultWorkOut">
		<![CDATA[
			select v_no, title, content, category1, category2, url, readcount from 
			(select rownum, v_no, title, content, category1, category2, url, readcount 
			from (select * from tb_video_board where category1 = '맨몸운동' order by readcount desc) 
			where rownum <9)

		]]>
	</select>
	
	<select id="selectWorkoutReadCountList" resultType="list" resultMap="resultWorkOut" parameterType="Health">
		<![CDATA[
			select * from tb_video_board where category1=#{category1} and category2=#{category2} order by readcount desc
		]]>
	</select>
	
	
	<select id="selectVideoCount" resultType="_int" parameterType="String">
		select count(*) from tb_video_board where category1='맨몸운동' and category2=#{category2}
	</select>
	
	<!-- 제목으로 검색 -->
	<select id="selectSearchList" resultType="list" parameterType="String" resultMap="resultWorkOut">
	
		<![CDATA[
			select * from tb_video_board where category1='맨몸운동' and title like '%' ||#{keyWord}|| '%'
		]]>
	</select>
	
	<!-- 셀렉박스 좋아요 정렬 -->
	<select id="selectLikeCountlist" resultType="list" parameterType="Health" resultMap="resultWorkOut">
		<![CDATA[
			select *
			from (select v_no,NVL(likecount, 0) as tt, title,content,category1,category2,url,readcount
				  from tb_video_board
				  left outer join ( select v_no, count(*) as likecount
				                    from tb_like
				                    group by v_no )
				 using ( v_no ))
			where category1=#{category1} and category2=#{category2}
			order by tt desc
		]]>
	</select>
	
	<!-- 제목으로 검색 갯수 -->
	<select id="selectSearchVideoCount" resultType="_int" parameterType="String">
		select count(*) from tb_video_board where category1='맨몸운동' and title like '%' ||#{keyWord}|| '%'
	</select>
	
	<!-- 로그인 X 메인 리스트(좋아요 많은) -->
	<select id = "mainList" resultType="list" resultMap="resultWorkOut">
		<![CDATA[
			select v_no, title, content, category1, category2, url,readcount from( 
  				select rownum as rnum,v_no, title, content, category1, category2, url,readcount from(
    				(select v_no,NVL(likecount, 0) as tt, title,content,category1,category2,url,readcount
     				 from tb_video_board
				     left outer join ( select v_no, count(*) as likecount
                      				   from tb_like
                      				   group by v_no )
      				  using ( v_no ))
      				  order by tt desc
			))where rnum<11
		]]>
	</select>
	
	<!-- 규연이  -->
	<select id="HealthList" resultType="list" resultMap = "resultWorkOut">
		select  category1,  sum(readcount) from tb_video_board group by category1
	</select>
</mapper>
