<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="like">

	<resultMap id="resultLike" type="Like">
		<id property="v_no" column="v_no"/>
		<result property="user_no" column="user_no"/>
		<result property="category1" column="category1"/>
		<result property="category2" column="category2"/>
		<result property="like_date" column="like_date" jdbcType="DATE" javaType="java.sql.Date"/>	
	</resultMap>
	
	<select id="selectLikeList" resultType="list" resultMap="resultLike">
		<![CDATA[
			select * from tb_like
		]]>
	</select>
	
	<insert id="insertLike" parameterType="Like" flushCache="true" statementType="PREPARED" useGeneratedKeys="true">
		<![CDATA[
			insert into tb_like values (#{v_no},#{user_no},'헬스','가슴 운동',default)
		]]>	
	</insert>
	
	<update id="updateLike" parameterType="Like" flushCache="true" statementType="PREPARED">
		<![CDATA[
		
		]]>	
	</update>
	

</mapper>