<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yoga">
	<resultMap id="yogaResult" type="Yoga">
		<id property="v_no" column="v_no" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="category1" column="category1" />
		<result property="category2" column="category2" />
		<result property="url" column="url" />
		<result property="readcount" column="readcount" />
	</resultMap>

	<!-- yoga 전체리스트 top5 select -->
	<select id="selectAllYList" resultType="list" resultMap="yogaResult">
		<![CDATA[
		select v_no, title, content, category1, category2, url, readcount from (select rownum, v_no, title, content, category1, category2, url, readcount 
		from (select * from tb_video_board where category1 = '요가' order by readcount desc) where rownum <6)
		]]>
	</select>
	
	<!-- pilates 전체리스트 top5 select -->
	<select id="selectAllPList" resultType="list" resultMap="yogaResult">
		<![CDATA[
		select v_no, title, content, category1, category2, url, readcount from (select rownum, v_no, title, content, category1, category2, url, readcount 
		from (select * from tb_video_board where category1 = '필라테스' order by readcount desc) where rownum <6)
		]]>
	</select>
	
	<!-- 카테고리별 list select-->
	<select id="selectCList" parameterType="Yoga" resultType="list" resultMap="yogaResult">
		select * from tb_video_board where category2 = #{category2} order by v_no desc
	</select>
	
	<!-- 조회수 count -->
	<update id="addReadCount" parameterType="_int" flushCache="true" statementType="PREPARED">
		update tb_video_board set readcount = readcount + 1 where v_no = #{v_no}
	</update>
	
	<!-- 운동 전체리스트 select -->
	<select id="selectAllList" resultType="list" resultMap="yogaResult">
		<![CDATA[
		select * from tb_video_board order by v_no
		]]>
	</select>
	
	<!-- 운동종류별 list select-->
	<select id="selectWList" parameterType="Yoga" resultType="list" resultMap="yogaResult">
		select * from tb_video_board where category1 = #{category1} order by v_no desc
	</select>

	<!-- 플레이리스트 동영상 한번에 insert하기 Multi-row Insert -->
	<insert id="insertYoga" parameterType="com.kh.fitnessground.workout.yoga.model.vo.Yoga" flushCache="true"
		statementType="PREPARED" useGeneratedKeys="true">
		insert into tb_video_board values(vb_seq.nextval, #{title}, #{content}, 
		#{category1}, #{category2}, #{url}, default)
	</insert>

	<!-- delete one video -->
	<delete id="deleteYoga" parameterType="_int" flushCache="true" statementType="PREPARED">
	delete from tb_video_board where v_no = #{v_no}
	</delete>

	<!-- Multi-row Delete -->
	<delete id="deleteYogaList" parameterType="_int" flushCache="true" statementType="PREPARED">
	delete from tb_video_board where v_no in 
	<foreach item="item" index="index" collection="list"
     			open="(" separator="," close=")">
       		#{v_no}
 	</foreach>
 	</delete>
 	
 	<!-- 수정 View 용 select-->
	<select id="selectOne" parameterType="Yoga" resultType="Yoga" resultMap="yogaResult">
		select * from tb_video_board where v_no = #{v_no}
	</select>
 	
 	<!-- video title, description 수정하기 -->
 	<update id="updateYoga" parameterType="Yoga" flushCache="true" statementType="PREPARED">
 		<![CDATA[
 		update tb_video_board
 		]]>
 		<set>
 			<if test="title != null">title = #{title},</if>
 			<if test="content != null">content = #{content},</if>
 			<if test="category1 != null">category1 = #{category1},</if>
 			<if test="category2 != null">category2 = #{category2},</if>
 		</set>
 		<![CDATA[
 		where v_no = #{v_no}
 		]]>
 	
 	</update>

</mapper>