@charset "UTF-8";
/*scrollbar */
::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
display: block; height: 10px; background: #ffffff
}
::-webkit-scrollbar-track {
background: #ffffff; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)
}
::-webkit-scrollbar-thumb {
height: 50px; width: 50px; background: #B2D7E6; -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)
}
/* ie 스크롤바 */
html {scrollbar-3dLight-Color: #efefef; scrollbar-arrow-color: #dfdfdf; scrollbar-base-color: #efefef; scrollbar-Face-Color: #dfdfdf; scrollbar-Track-Color: #efefef; scrollbar-DarkShadow-Color: #efefef; scrollbar-Highlight-Color: #efefef; scrollbar-Shadow-Color: #efefef}


/* layout */
body{
	background: #ffffff !important;
}
#workout-head{
	height: 10vh;
}
#workout-title{
	margin-left: 5vw;
}
#workout-body{
	margin-top: 5vh;
	height: auto;
	padding-bottom: 20vh;
}

#v-img{
	width: 250px;
}
#footer{
	position: fixed;
}

/*scroll 맨위로 */
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px; }
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white; }
  .scroll-to-top:hover {
    background: #343a40; }
  .scroll-to-top i {
    font-weight: 800; }

/*사이드 메뉴바 */
.workout_sidebar {
	display: inline-block;
	width: 260px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
	border-top-radius: 3px;
	border-bottom-radius: 3px;
}

.workout_sidebar>ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.workout_sidebar>ul>li {
	background-color: #022D41;
	position: relative;
}

.workout_sidebar>ul>li>a {
	display: block;
	outline: 0;
	text-decoration: none;
	color: #FFFFFF;
	padding: 0 24px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 16px;
}
.workout_sidebar>ul:hover{
	color: rgba(255, 255, 255, 0.7);
}
.workout_sidebar>ul>li>ul{
	margin: 0;
          padding: 0;
          background-color: #F5F5F5;
          
          max-height: 500px;
          overflow: hidden;
         transition: max-height 300ms;
}
.workout_sidebar>ul>li>.closed{
	max-height: 0px;
}
.workout_sidebar>ul>li>ul>li{
	padding: 0 48px;
            display: block;
            color: #022D41;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            cursor: pointer;
}
.workout_sidebar>ul>li>ul>li:hover{
	 color: #11A6B7;
}

/* tab */




/* 동영상 list 부분 */
.video{
	width: 250px;
	height: 200px;
	margin: 30px 12px;
}
#video-thumbnail{
	width: 250px;
	height: 141px;
}
#video_title{
	color: black;
}

#workout-modal{
	/* position: relative;
	top:10vh;
	left: -20vw; */
}
#workout-dialog{
	width: 84vw !important;
	margin: 5vh 8vw !important;
}
#video-text{
	margin: 0 auto;
	font-size: 1rem;
	color: black;
}
.time{
	position: relative;
}
.video-time{
	    background-color: black;
    color: white;
    opacity: 0.7;
    width: 47px;
    height: 20px;
    padding: 0 0.2vw;
    font-size: 0.8rem;
    position: absolute;
    bottom: 120px;
    text-align: center;
    right: 0px;
    line-height: 1.5em !important;
	
}
#video-cover{
	z-index: 2;
	width: 250px;
	height: 150px;
	position: relative;
	margin: -150px 0;
	background: black;
	opacity: 0.2;
}
#video-cover:hover{
	opacity: 0.1;
}
/* 동영상 modal */
.modal-dialog{
	z-index: 999;
	width: 86vw;
	margin: 0 auto;
}
.modal-play{
	display: inline-block;
	float: left;
}
.modal-desc{
	display: inline-block;
    float: left;
    width: 34vw;
    height: 70vh;
    margin: 0 1px;
    padding-left: 1vw;
    border-left: 2px solid transparent;
}
#workout-content{
	height: 85vh;
	border-radius: 0;
}
#video-play{
	width: 45vw;
	height: 50vh;
	margin-right: 1vw;
	margin-top: 8vh;
}
#video-content{
	height: 40vh;
}
#content-hr{
	margin: 0.3vw 0;
}
#video-reply{
	border-top: 1px solid #DAECF3;
}
#reply_content{
	position: relative;
	/* height: auto; */
	max-height: 40vh;
	overflow: hidden;
	overflow-y: auto;
	top: 2vh;
	
}
#reply-input{
	width: 28.5vw;
	height: 4vh;
	font-size: 0.8rem;
	border-radius: 3px 3px;
}
#reply-btn{
	font-size: 0.7rem;
    padding: 0 8px;
    height: 4vh;
    border-radius: 2px 2px;
    background: #022D41;
    margin-left: 0.6vw;
}

#read_count, #like_up{
	display: inline-block;
}
#read_count{
	float: right;
}
#reply-hr{
	margin: 0.5vh 0;
}
#reply-writer{
	color: #022d41;
	font-weight: bold;
	display: inline-block;
	margin-right: 1vw;
}
#reply-date{
	color: gray;
	display: inline-block;
	float: right;
	margin-right: 0.5vw;
}
#like-btn{
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-color: white ;
    color: #022D41;
    border: 1px solid #DAECF3;
    white-space: nowrap;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    margin-right: 1vw;
    
}
#like-btn:hover{
	background-color: #DAECF3;
}
#del-btn{
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-color: transparent ;
    color: #022D41;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    margin-right: 1vw;
    float: right;
}
#del-btn:hover{
	color: rgba(2, 45, 65, 0.71);
}
/* 검색바 */

#v-srch{
	width: 300px;
	height: 30px;
}



/* workout_nav상단바 */

.tab-content .item{display:none}
.tab-content .item.in{display:block}.tab-list.tab-a{margin:29px 0}
.tab-list.tab-a li{float:left}.tab-list.tab-a li a{display:block;padding-right:60px;text-decoration:none}
.tab-list.tab-a li span{
	position:relative;text-transform:uppercase;display:block;height:33px;line-height:33px;color:#a0a0a0;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s}.tab-list.tab-a li span:after{content:'';display:block;overflow:hidden;position:absolute;left:0;bottom:-2px;width:0;height:2px;-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s;background-color:#000}
	.tab-list.tab-a li.in span,.tab-list.tab-a li a:hover span{color:#000}.tab-list.tab-a li.in span:after,.tab-list.tab-a li a:hover span:after{width:100%;background-color:#000}.tab-list.tab-a.is-border-top{margin-bottom:15px}.tab-list.tab-a.is-border-top li a span{height:52px;line-height:52px}.tab-list.tab-a.is-border-top li a span:after{top:-4px;bottom:auto;height:4px}.tab-list.tab-b{display:table;table-layout:fixed;width:100%}
	.tab-list.tab-b li{display:table-cell;width:100%;height:100%;float:none;text-align:center;vertical-align:middle}
	.tab-list.tab-b li a{position:relative;display:block;margin-left:-1px;text-decoration:none;border:1px #dcdcdc solid;border-bottom:0px;background:#fff}
	.tab-list.tab-b li a:after{content:'';display:block;overflow:hidden;position:absolute;left:0;bottom:0px;width:100%;height:1px;-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s;background-color:#dcdcdc}
	
	.tab-list.tab-b li span:after{content:'';display:block;overflow:hidden;position:absolute;
	left:-1px;top:-2px;width:0;height:2px;-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s;background-color:#11A6B7}
	.tab-list.tab-b li.in a,.tab-list.tab-b li a:hover{z-index:1}
	.tab-list.tab-b li.in a:after,.tab-list.tab-b li a:hover:after{width:0}
	.tab-list.tab-b li.in a span,.tab-list.tab-b li a:hover span{color:#11A6B7; font-size: 1.1rem}
	.tab-list.tab-b li.in a span:after,.tab-list.tab-b li a:hover span:after{width:101%}
	.ie .tab-list.tab-b{display:block;width:auto}
	.ie .tab-list.tab-b li{display:block;float:left;width:auto}
	.ie .tab-list.tab-b.is-col-3 li{width:33.3333%}
	.ie .tab-list.tab-b.is-col-4 li{width:25%}
	.ie .tab-list.tab-b.is-col-6 li{width:16.6666%}
/*desktop*/
@media screen and (min-width: 736px){
	.workout-videos{
	width: 1100px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    top: 5vh;
    left: 14vw;
	}
	.srch_btn{
	height: 35px;
	width: 35px;
	}
	.tab-list>li{
			float:left;
			margin: 1vh 2vw;
	}

	/* 카테고리 */
	ul.tab li{margin:0;padding:0}ul.tab:after,ul.tab:before{content:" ";display:table}ul.tab:after{clear:both}ul.tab>li{float:left}
	.tab-list{margin:0;padding:0;list-style:none;font-weight:normal;clear:both;position:relative;*zoom:1}
	.tab-list:after,.tab-list:before{content:" ";display:table}.tab-list:after{clear:both}
	
	.tab-list.tab-b li span{
		position:relative;display:block;
		font-weight:normal!important;
		margin-top:1px;height:47px;line-height:47px;
		color:#333;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s;}
		
	#vertical-bar{
		margin: 0 1.5vw;
		margin-top: 0.8vh;
	}
	#tab-li>a{
		text-decoration: none;
		font-size: 1.2rem;
	}
	#press-cate{
		margin-top: 2vh;
	    justify-content: center;
	    display: flex;
	}
	#sort{
	    position: absolute;
    top: 18vh;
    left: 15vw;
    width: 6vw;
}
	/*etc  */
#video-line{
	width: 70vw;
    margin: 5vh 5vw;
    border-top: solid 1.5px black;
    border-bottom: solid 1.5px white;
    position: absolute;
    top: 20vh;
    left: 10vw;
}
/*검색바*/	
.srch_wrpr{
	width: 40vw;
	margin-left: 43vw;
	margin-top: 5vh;
}
	
}

	
/*Mobile*/
@media screen and (max-width: 736px){
	/*layout*/
	#workout-body{
		padding-left: 0;
	
	}
	#mypage_header{
		background: white;
		height: 1vh;
	}
	
	#tab-li>a{
		text-decoration: none;
		font-size: 0.8rem;
	}
	
	.news-section-tab{
		height: 14px;
	}
	#v-srch{
		display: none;
	}
	.workout-videos{
    position: relative;
    top: 13vh;
    left: 14vw;
}
	
	.srch_wrpr{
	width: 0;
	margin-left: 0;
	margin-top: 0;
}
ul{
	margin-bottom: 0 !important;
}

.tab-list.tab-b li span{
	font-size: 0.8rem;
}
.tab-list.tab-b li span{
		position:relative;display:block;
		font-weight:normal!important;
		margin-top:1px;height:30px;line-height:30px;
		color:#333;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s;
}
#sort{
	position: absolute;
    top: 19vh;
    left: 13vw;
}
.srch_btn{
	position: absolute;
    top: 18vh;
    left: 80vw;
    height: 30px;
    width: 30px;
}
.tab-list>li {
    float: left;
    margin: 0 1vw;
    display: inline-block;
}
#press-cate{
	margin-left: 9vw;
	
}
#title-search {
    position: relative;
    top: 13vh;
    right: 40vw;
    width: 30vw;
    height: 4vh;
    font-size: 0.9rem;
}
#count{
	font-size:0.7rem;
}
/*mobile modal*/
.modal-header{
	padding-top:2px;
	padding-left: 15px;
	padding-right: 15px;
}
#video-play{
	margin-top: 0;
	width: 90vw;
	height: 55vw;
}
#video_explain{
	width: 88vw;
	line-height: 1.4rem;
}
#workout-dialog {
    width: 98vw !important;
    margin: 5vh 1vw !important;
    height: 95vh !important;
}
#workout-content {
	height: 100vh;
}
	
#like-btn{
	width: 6vw;
}
#like-up{
	width: 80vw;t
}
#reply-input{
	width: 74vw;
	display: inline-block;
}
#reply-btn{
	width: 10vw;
	margin: 0 0;
	display: inline-block;
}
.modal-desc, #reply_content{
	width: 88vw;
}
#del-btn{
	display: inline-block;
    width: 6vw;
}
::-webkit-scrollbar {
	display: none;
} 


/* mobile ends*/

	
}

	
	
